<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam non minus ratione quam sunt ut eos quasi fugit tempora dolores? In dolores fugiat recusandae asperiores dignissimos. Officia, sapiente neque? Ea nemo dolor amet deleniti, beatae repellat? Pariatur.</p>
    </div>
</div>